button{
    background-color:darkblue;
    border-radius: 30px;
    border: none;
    line-height: 1.5;
    color: white;
    padding:15px 22px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    width:150%;
    height: auto;
}
  
  .square{
    margin:10% 45%;
    margin-top: 250px;
  }

.square :hover {
  transform:scale(1.22);
}
.bg{
  background-image: url(/public/tu1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  width: 1360px;
  height: 900px;
  backdrop-filter:opacity(1000px);
  background-blend-mode:lighten;
  
}